{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1 class="bg-warning text-center mt-3">Episode {{ episode.number }} : {{ episode.title }}</h1>
    <div class="container m-auto d-flex justify-content-center w-50">
    <table class="table mt-5">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ episode.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Résumé</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="bouttons d-flex justify-content-between m-auto w-50 p-3">
        <a class="text-dark btn bg-warning" href="{{ path('episode_index') }}">Retour à la liste</a>

        <a class="btn btn-primary " href="{{ path('episode_edit', {'id': episode.id}) }}">Éditer</a>

        {{ include('episode/_delete_form.html.twig') }}
    </div>

{% endblock %}
