{% extends 'base.html.twig' %}

{% block title %}Actor{% endblock %}

{% block body %}
    <h1 class="bg-warning text-center mt-3">{{ actor.name }}</h1>
    <div class="container d-flex justify-content-center w-50">
        <table class="table mt-5">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ actor.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ actor.name }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <h4 class="text-center"> Programmes(s) :</h4>
    <div class="actors mt-3 mb-3 d-flex justify-content-center">
        <div class="list-group w-25">

            {% for program in actor.programs %}
                <a href="{{ path('program_show', {slug: program.id} ) }}" class="list-group-item list-group-item-action bg-transparent text-center text-info">{{ program.title }}</a>
            {% else %}
                Aucun acteur pour cette série
            {% endfor %}
        </div>
    </div>
    <div class="bouttons d-flex justify-content-between mt-5 m-auto w-50 p-3">
        <a class="text-dark btn bg-warning" href="{{ path('program_index') }}">Retour à la liste</a>
        <a href="{{ path('actor_edit', {'slug': actor.slug}) }}" class="btn btn-primary"> Éditer</a>
        {{ include('actor/_delete_form.html.twig') }}
    </div>
{% endblock %}
